<!DOCTYPE html>
<html>
<head>
    <title>MAC Address Extractor</title>
</head>
<body>
    <h1>Enter URLs</h1>
    <form method="POST" enctype="multipart/form-data">  
        <input type="radio" name="choice" value="direct" checked> Enter URLs directly<br>
        <textarea name="urls" rows="5" cols="50"></textarea><br>
        <input type="radio" name="choice" value="file"> Upload a file<br>
        <input type="file" name="file"><br><br>
        <input type="submit" value="Extract">
    </form>
</body>
</html>